* {
	margin: 0;
	padding: 0;
	font-family: 'Nunito';
/* 	box-sizing: border-box; */
	/* font-size: 30rem; */
}
html{
	height: 100%;
}
body {
	background-image: url(./gridbg.jpg);
	background-repeat: repeat;
	background-size: 200px;
	height: 100%;
}
/* my buttons */
#navBar {
	width: 100%;
	align-items: center;
}
#main-nav-link {
	align-items: center;
	background-color: #8B4513;
	/* border: 10px; */

/* 	margin:2rem; */
	display: flex;

}

/* invisible container for both sections green and gray */
.nosee{
	border-radius:10px;
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: block;
}

/* main part for content */
#mainsection{
	background:#FAF0E6;
	height: 85vh;
	overflow:auto;
	margin-left: 1px;
	align-items: center;
}
.mainTitle {
	font-family: 'Vollkorn'
}
.fab {
	color: #8B4513; 
}
.marginTop{
	margin-top:2rem;
}
#navtoggler {
	background-color: #8B4513;
	opacity: 40%;

}
.projectCard{
	margin: 2px;
}
.projectpic {
	padding:1rem;
}
button span {
	color: white;
}
a i {
	color: #8B4513;
	width: 20%;
}
/* my profile picture above button */
.containercontent{
	border-radius:10px;
/* 	margin-top:1rem; */
	margin-bottom:1rem;
}
.fill { 
    min-height: 100%;
    height: 100%;
}
/* my bio */
#logo {
	width: 50%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
#mybio {
	background-color:#ffe4e1;
/*	border-radius:10px;*/
	height: fit-content;

}
h1 {
	margin-top: 5px;
	font-family: 'Vollkorn';
	color: #8B4513;
}
#slogan,h2,p, h3 {
	color: #8B4513;
}
.card {
	margin-top: 1rem;
}
#here {
	color: #ffe4e1;
	background-color: #8B4513;
}

/* mynav */

/* content text */
.skills {
	width: 20vw;
	margin: 5px;
	
}
#bodyhead {
	background-color: #FAF0E6;
}
/* contacts */
#gMap {

	width: 100%;
	display: block;
	border: none;
	min-height: 400px;
	border-radius:10px;
}

/* 
MYCOLORS: #FAF0E6 #8B4513 #ffe4e1;

* {
	margin: 0;
	padding: 0;
	font-family: 'Nunito';
box-sizing: border-box;
	font-size: 30rem;
}
body {
	background-image: url(./gridbg.jpg);
	background-repeat: repeat;
	background-size: 200px;
}
navigation bar

#mybio {
	background-color: blue ;
	width: 70%;
	height: 30%;
}
 
#navbutton {
	background-color: brown;
	color: white;
	flex-direction: column;
}
#mainsection {
	background-color: violet;
	overflow: auto;
}



 */